.inline{
    display: inline;
}

.v-a{
    vertical-align: middle;
}
.inline-b{
    display: inline-block;
}
.float-left{
    float: left;
}
.menu ul li{
    list-style-type: none;
    margin-top: 3%;
}
.menu{
    padding: 30px 0px 30px 0px;
    width: 14.28%;
    text-align: center;
}
.menu-icon{
    width: 32px;
    height: 32px;
    border: 1px solid white;
    margin: 0 auto;
}
body{
    /* background: #585858; */
}
.col-1-1 {
    width: 100%;
}
.col-1-3{
    width: 33.33%;
}
.col-1-4 {
    width: 25%;
}
.col-1-7 {
    width: 12.28%;
}
.col-6-7{
    width: 87.72%;
}
.col-1-2 {
    width: 50%
}
.col{
    padding: 10px;
    border: 2px solid white;
    vertical-align: middle;
}
.btn{
    padding: 10px;
    border: 2px solid white;
    margin-top: 10%;
}

.latest-article {
    margin-bottom: 50px;
}

.latest-article .article {
    height: 70px;
    color: white;
    padding: 370px 20px 370px 20px;

}
.new-article {
    margin-bottom: 50px
}
.new-article .article,
.fouth-section .article{
    padding: 250px 20px 250px 20px;
    border: 1px solid grey;
    transition: all .2s all .2s ease-in-out;
}

.fifth-section .article {
    height: 600px;
}

.box-article {
    position: relative;
    height: 100%;
    z-index: -1
}
.box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #AAB9D6;
    background: white;
    height: 50%;
    width: 50%;
}
.new-article .article:hover,
 .fouth-section .article:hover{
    background: #FAFAFA;
    transform: scale(1.1)
}
.fouth-section {
    margin-bottom: 50px;
}
.left-content {
    border: 1px solid grey;
    border-radius: 10px;
    width: 80%;
    height: 510px;
}
.grey-1 {
    background:#484E5A;
}
.grey-2 {
    background: #535A69;
}
.grey-3 {
    background: #596170;
}
.grey-5 {
    background: #A6A6A6;
}
.grey-7 {
    background: #D6D6D6;
}

.text {
    width: 50%;
    height: 13px;
    margin-top: 15px;
    margin-left: 0 ;
    margin-right: 0 ;
    margin: auto
}
.fifth-section {
    margin-bottom: 50px
}
.sixth-section .article {
    padding: 150px 200px 150px 200px;
    width: 57%;
    margin-left: 80px
}
.article-img{
    width: 80px;
    height: 80px;
    background: #596170;
}
.center{
    margin: 0 auto;
}
.twit-mrg{
    width: 48%;
    margin: 1%;
}
.seventh-section{
  width: 90%;
  margin-top:3%;
}
.design-systems{
    margin-bottom: 5%;
    padding: 20vh 50vw 20vh 50vw;
}
.more-link{
    text-align: center;
    height: 80px;
}
.newsletter{
    width: 90%;
    padding: 35vh 0px 35vh  0px;
    margin: 0 auto;
}
.circle{
    border-radius: 50%;
    padding: 47vh 10vh 10vh 47vh;
    width: 20%;
    margin: 0 auto;
}
.footer{
    height: 70vh;
}